<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <br>
  <%= image_tag @scene.image_url.to_s %>
</p>

<p>
  <b>Question:</b>
  <br>
  <%= @annotation_task.question %>
</p>

<table>
  <tr>
    <th>User:</th>
    <th>Answer:</th>
  </tr>
  <% @responses.each do |response| %>
    <tr>
      <td><%= response.user.username %></td>
      <td><%= response.answer %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_annotation_task_path(@annotation_task) %> |
<%= link_to 'Back', annotation_tasks_path %>
