<%= nested_form_for @scene, :html => {:multipart => true} do |f| %>
  <% if @scene.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scene.errors.count, "error") %> prohibited this scene from being saved:</h2>

      <ul>
      <% @scene.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="image">
  <% if @scene.image_url(:thumb).to_s != "" %>
    <%= image_tag @scene.image_url(:thumb).to_s %>
  <% end %>
  </div>

  <div class="field">
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :schematic %><br />
    <%= f.text_area :schematic %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
