<h1>Listing scenes</h1>

<table>
  <tr>
    <th>Sequence</th>
    <th>Thumb</th>
    <th>Responses</th>
  </tr>

  <% @scenes.each do |scene| %>
    <tr>
      <td><%= link_to scene.sequence.id, scene.sequence %></td>
      <td><%= image_tag scene.image_url(:thumb).to_s %></td>
      <td>
        <% scenes_to_show = 5 %>
        <ul>
          <% scene.responses[0..scenes_to_show - 1].each do |response| %>
            <li><%= link_to response.answer, response %></li>
            <br/>
          <% end %>
        </ul>
        <%= link_to "All responses (" + scene.responses.length.to_s + ")" , scene %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= link_to 'Show', scene %> |
        <%= link_to 'Edit', edit_scene_path(scene) %> |
        <%= link_to 'Destroy', scene, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Scene', new_scene_path %>
