<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <br>
  <%= image_tag @scene.image_url.to_s %>
</p>
<p>
  <b>Schematic:</b>
  <br>
  <%= @scene.schematic %>
</p>

<p>
<b>Tasks:</b>
<table>
  <tr>
    <th>Question</th>
    <th># Responses</th>
  </tr>
<% @scene.annotation_tasks.each do |at| %>
  <tr>
    <td><%= link_to at.question, at %></td>
    <td><%= at.responses.length %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to 'Back', scenes_path %>
