<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <br>
  <%= image_tag @scene.image_url.to_s %>
</p>
<p>
  <b>Schematic:</b>
  <br>
  <%= @scene.schematic %>
</p>

<p>

<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to 'Back', scenes_path %>
