<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @response.scene.image_url %>
</p>

<p>
  <%= @response.user.username %> : <%= @response.answer %>
</p>

<p>
<%= link_to 'Other responses about this image', @response.scene %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'All responses', responses_path %>
