<h1>Please look at this image, and answer the question below:</h1>
<p>
<%= image_tag @scene.image_url.to_s %>
</p>

<p>
<%= @annotation_task.question %>
</p>

<% form_tag do %>
  <% if @errors and @errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@errors.count, "error") %> prohibited your answer from being saved:</h2>

      <ul>
      <% @errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <b> Please answer with a complete sentence. </b><br />
    Avoid prepositions like "it". <br />
    If you're not sure of your answer or the question is ambiguous, place a question mark at the end of your answer.<br />
    <b> Answer: </b> <br />
    <%= text_field_tag :answer %>
  </div>

  <%= submit_tag 'next', :disable_with => "...", :id => 'submit' %>
<% end %>
