<h1>Listing sequences</h1>

<table>
  <tr>
    <th>Sequence index</th>
    <th>First scene</th>
    <th>Last scene</th>
    <th>Number of scenes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sequences.each do |sequence| %>
  <tr>
    <td><%= link_to sequence.id, sequence %></td>
    <% sorted_scenes = sequence.scenes.sort {|a,b| a.id <=> b.id } %>
    <td><%= image_tag sorted_scenes.first.image_url(:thumb).to_s %></td>
    <td><%= image_tag sorted_scenes.last.image_url(:thumb).to_s %></td>
    <td><%= link_to sequence.scenes.length.to_s + " scenes", sequence %></td>
    <td><%= link_to 'Show', sequence %></td>
    <td><%= link_to 'Edit', edit_sequence_path(sequence) %></td>
    <td><%= link_to 'Destroy', sequence, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
