<p id="notice"><%= notice %></p>

<% @sequence.scenes.each_with_index do |scene, i| %>
  <p>
  <b>Image <%= i %>:</b>
    <br>
    <%= image_tag scene.image_url.to_s %>
  </p>
<% end %>


<%= link_to 'Edit', edit_sequence_path(@sequence) %> |
<%= link_to 'Back', sequences_path %>
